@import 'styles/functions/index.scss';
@import 'styles/template-classes/index.scss';

.btn {
  @extend %common-text-shadow;
  position: relative;
  min-height: rem(35px);
  padding: rem(10px) rem(40px);
  border-radius: rem(5px);
  font-family: Ubuntu, 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .8rem;
  color: #FFF;
  text-decoration: none;
  transition: all 0.15s;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    transform: translate(rem(0px), rem(3px));
    box-shadow: 0 0 0 0;
  }
}

.primary {
  background-color: #3498DB;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0 2px 0 0 #2980B9;

  &:hover {
    background-color: lighten(#3498DB, 5);
  }
}

.disabled {
  cursor: not-allowed;
}

.wide {
  width: 100%;
}

