@import 'styles/functions/index.scss';

$common-margin: rem(16.5px);

.form {
  $this: &;

  &Row {
    display: flex;
    flex-flow: column;

    &TwoItems {
      display: flex;
    }
  }

  &Col {
    width: 100%;
    margin-bottom: rem(10px);

    &:last-of-type {
      margin-bottom: $common-margin;
    }

    &TwoItems {
      width: calc(100% / 2);

      &:last-of-type {
        margin-bottom: $common-margin;
        margin-left: rem(15px);
      }
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.someText {
  margin: 0 0 rem(7px) 0;
  color: white;
  font-size: .8rem;
}
