@import 'styles/functions/index.scss';

$col-mr: rem(8.5px);
$col-ml: rem(8.5px);

.loginForm {

}

.form {
  $this: &;

  &Label {
    display: flex;

    &Inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50px);
      height: rem(38px);
      border-right-width: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: rgba(0,0,0,.6);
    }
  }

  &Input {
    width: 100%;
    padding: rem(7.5px);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(0,0,0,.33);
    font-family: Ubuntu, 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    color: white;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);

    &::placeholder {
      color: darkgray;
    }
  }

  &Row {
    display: flex;
    flex-flow: column;
  }

  &Col {
    width: 100%;
    margin-bottom: rem(10px);

    &:last-of-type {
      margin-bottom: rem(16.5px);
    }
  }
}

.btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  padding: rem(10px) rem(40px);
  font-size: .8rem;
  font-family: Ubuntu, 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
  text-decoration: none;
  color: #fff;
  position: relative;

  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
  }
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 2px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

// TODO scss сделать функцию для создания шрифта
