@import 'styles/functions/index.scss';

.errorBubble {
  position: relative;
  max-width: 285px;
  width: 100%;
  background-color: #cc302e;
  composes: common-box-shadow from 'styles/common-classes/common.scss';
  border-radius: rem(3px);
  padding: rem(12.5px) rem(20px) rem(12.5px) rem(12.5px);
  margin-left: 100px;

  span {
    display: block;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
    font-size: rem(11px);
  }
}
